* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.tc {
  text-align: center;
}
.ib {
  display: inline-block;
}

.flex {
  display: flex;
}

.btn {
  color: #fff;
  background-color: black;
  border: 1px solid white;
  padding: 10px;
  border-radius: 50px;

}

.page-wrapper {
  height: 100vh;
  background-color: #000;
  color: white;

}

h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}

h6, p{
  margin-bottom: 15px;
}

h4, h6{
  text-align: center;
  font-size: 12px;
}

main {
  height: calc(100% - 80px);
  display: flex;
}

aside {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 200px;
  background-color: #000000;
}

.logo {
  width: 150px;
  margin: auto;
  padding: 10px;
}

.home, .search, .libreria {
  width: 35px;
  padding-left: 10px;


}

.main-nav {
  background-color: orange;

}

.main-nav-list {
  list-style: none;
}

.secondary-nav {
  height: 100%;
  overflow: hidden;
  background-color: lightblue;
  padding-left: 10px;
}

.fa-plus {
  border: 20px;
  background-color: lightgrey;
}


.playlist-list {
  height: 90%;
  overflow-y: auto;
  padding-top: 15px;
}

.playlist-list li {
  padding-bottom: 10px;
}

a {
  text-decoration: none;
  color: white;
}

.aside-bottom {
height: 80px;
flex-shrink: 0;
margin-top: auto;
background-color: pink;
}

@media screen and (max-height: 430px) {
  .aside-bottom {
    display: none;
  }
}

.main-content {
  height: 100%;
  padding: 20px;
  overflow-y: auto;
  width: calc(100% - 200px);
  background-color: #141922;
  color: white;
}

.list-menu {
  list-style: none;
  justify-content: center;
  margin-top: 70px;

}

.sott:hover::after {
  content: "";
  display: block;
  height: 2px;
  width: 40px;
  background-color: green;
  margin: auto;

}

.list-menu li a {
  padding: 10px;
  font-size: 9PX;
  color: white;
}

.music {
  margin-top: 20px;
  margin-bottom: 100px;
  flex-wrap: wrap;
  }

.box-music, .box-music-personal, .circle-music-popolar {
  width: calc((100% / 6) - 20px);
  margin-left: 20px;
}


@media screen and (max-width: 992px) {
  .box-music, .box-music-personal, .circle-music-popolar {
    width: calc((100% / 4) - 20px);
  }
}

@media screen and (max-width: 768px) {
  .box-music, .box-music-personal, .circle-music-popolar {
    width: calc((100% / 2) - 20px);
  }

.scompare {
  display: none;
}

.lateral-bar {
  width: 80px;
}

.main-content {
  width: calc(100% - 80px);
}

.upgrade {
  width: 100%;
}

}

 .box-music-personal {
  margin-left: 20px;
}

.dim-img {
  width: 100%;

}


.circle {
  border-radius: 50%;
}

.upgrade {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
  width: calc(100% - 200px);
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);

}

footer {
  position: relative;
  z-index: 1;
  height: 80px;
  background-color: green;
  display: flex;
  justify-content: space-between;

}

.dim-img-footer {
  width: 50px;
}

.footer-central-top {
  height: 30px

}

.footer-central-bottom {
  height: 30px;

}

.music-bar {
  height: 5px;
  width: 400px;


}

.box-music-sound {
  height: 30px;



}
