* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.tc {
  text-align: center;
}
.ib {
  display: inline-block;
}

.flex {
  display: flex;
}

.btn {
  color: #fff;
  background-color: black;
  border: 1px solid white;
  padding: 10px;
  border-radius: 50px;
}

.page-wrapper {
  height: 100vh;
  background-color: #000;
  color: white;
}

h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}

h6, p{
  margin-bottom: 15px;
}

h4, h6{
  text-align: center;
  font-size: 12px;
}

main {
  height: calc(100% - 80px);
  display: flex;
}

aside {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 200px;
  background-color: #000000;
}

.logo {
  padding-right: 10px;
  font-size: 30px;
  }

.spotify {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  padding: 10px;
}

.main-nav .main-nav-list img {
  width: 35px;
  padding-left: 10px;
}

.main-nav-list {
  list-style: none;
}

.secondary-nav {
  height: 100%;
  overflow: hidden;
  padding-left: 10px;
}

.fa-plus {
  border: 20px;
  background-color: lightgrey;
  font-size: 30px;
}


.playlist-list {
  height: 70%;
  overflow-y: auto;
  padding-top: 15px;
}

.playlist-list li {
  padding-bottom: 10px;
}

.separatore {
  width: 150px;
  border: 1px solid white;
  margin: auto;
  margin: 10px 0;
}

.fa-arrow-circle-down, .fa-user-circle {
  margin-left: 10px;
}

a {
  text-decoration: none;
  color: white;
}

.aside-bottom {
height: 80px;
flex-shrink: 0;
margin-top: auto;

}


.main-content {
  height: 100%;
  padding: 20px;
  overflow-y: auto;
  width: calc(100% - 200px);
  background-color: #141922;
  color: white;
}

.list-menu {
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 70px;
}

.sott:hover::after {
  content: "";
  display: block;
  height: 2px;
  width: 40px;
  background-color: green;
  margin: auto;

}

.list-menu li a {
  padding: 10px;
  font-size: 9PX;
  color: white;
}

.music {
  margin-top: 20px;
  margin-bottom: 100px;
  flex-wrap: wrap;
  }

.box-music, .box-music-personal, .circle-music-popolar {
  position: relative;
  width: calc((100% / 6) - 20px);
  margin-left: 20px;
}

.box-layover {
  position: relative;
}

.layover {
  width: 100%;
  height: calc(100% - 4px);
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  z-index: 1;
  display: none;
}

.play-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 50px;
}

.box-music:hover .layover {
  display: block;
}

.box-music-personal:hover .layover {
  display: block;
}


.layover-circle {
  width: 100%;
  height: calc(100% - 4px);
  background-color: rgba(0,0,0,0.7);
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  display: none;
}


.circle-music-popolar:hover .layover-circle {
  display: block;
}




@media screen and (max-width: 992px) {
  .box-music, .box-music-personal, .circle-music-popolar {
    width: calc((100% / 4) - 20px);
  }
}

@media screen and (max-width: 768px) {
  .box-music, .box-music-personal, .circle-music-popolar {
    width: calc((100% / 2) - 20px);
  }

.scompare {
  display: none;
}

.lateral-bar {
  width: 80px;
}

.main-content {
  width: calc(100% - 80px);
}

.upgrade {
  width: 100%;
}

.centro {
  margin-left: 15px;
}

.logo {
  color: lightgreen;
  margin-left: 15px;
}

.fa-arrow-circle-down, .fa-user-circle {
  padding-left: 20px;
}

}

 .box-music-personal {
  margin-left: 20px;
}

.dim-img {
  width: 100%;
}


.circle {
  border-radius: 50%;
}

.upgrade {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
  width: calc(100% - 200px);
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);

}

@media screen and (max-height: 430px) {
  .aside-bottom {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .upgrade {
    width: calc(100% - 80px);
}

h2 {
  display: none;y
}

.utente, .installa {
  display: none

}

.fa-arrow-circle-down, .fa-user-circle, {
padding: -left: 30px;
}






}



footer {
  position: relative;
  z-index: 1;
  height: 80px;
  justify-content: space-between;

}

.box-music-small {
width: 150px;
align-items: center;
}

.dim-img-footer {
  width: 50px;
}

.footer-central {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-central-top {
  width: 150px;
  height: 30px;
  justify-content: space-around;
  align-items: center;
}

.play-music {
font-size: 30px;
}



.footer-central-bottom {
  height: 30px;

}

.music-bar {
  height: 5px;
  width: 400px;
  background-color: grey;
  display: inline-block;
  margin: 0 5px 2px;
  border-radius: 2px;
}

.music-bar:hover .music-bar-listen {
  background-color: lightgreen;
}


.music-bar-listen {
  position: relative;
  height: 100%;
  width: 20%;
  background-color: white;
  border-radius: 2px;
}



.music-ball {
  position: absolute;
  right: 0;
  top: -5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  display: none;
}

.music-bar:hover .music-ball {
  display: block;

}

.box-music-sound {
  width: 200px;
  align-items: center;

}

.dist {
  padding-right: 10px;
}

.distant {
  margin-left: 10px;
}


.music-bar-mini {
  height: 5px;
  width: 100px;

  background-color: grey;
  display: inline-block;
  margin: 0 5px 2px;
  border-radius: 2px;
}

.music-bar-mini:hover .music-bar-listen-mini {
  background-color: lightgreen;
}


.music-bar-listen-mini {
  position: relative;
  height: 100%;
  width: 20%;
  background-color: white;
  border-radius: 2px;
}

.music-ball-mini {
  position: absolute;
  right: 0;
  top: -5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  display: none;
}

.music-bar-mini:hover .music-ball-mini {
  display: block;
}
